* {
    box-sizing: border-box;
    font-family: 'Liberation Sans', 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
    --bk-color: #202d3b;
    --head-color: #5eb6a6;
}

body{
    margin: 0;
}

.header {
    border-bottom: #e8e8e8 solid;
    color: var(--bk-color);
    font-size: 2.5em;
    padding: 0.3em 1em;
    margin-bottom: 1em;
}

.header span {
    color: var(--head-color);
}

button {
    background-color: var(--bk-color);
    border: 0;
    color: #fff;
    font-size: 0.5em;
    float: right;
    padding: 0.5em;
}

.line {
    background-color: #f5f5f5;
    line-height: 0px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.cell {
    --cell-live-color: #b9e4db;
    --cell-dead-color: #202d3b;
    --cell-border: #e8e8e8 1px solid;
}

.cell {
    border: var(--cell-border);
    display: inline-block;
    height: 10px;
    width: 10px;
}

.cell.live {
    background-color: var(--cell-dead-color);
}

.cell.dead {
    background-color: var(--cell-live-color);
}

.modal {
    background-color: rgba(150, 150, 150, 0.2);
    height: 90%;
    left: 0;
    position: absolute;
    top: 4em;
    width: 100%;
    z-index: 1;
}

.modal h1 {
    font-size: 3em;
    position: sticky;
    text-align: center;
    top: 40%;
    color: #333;
    background: #fff;
    opacity: none !important;
    box-shadow: 0 15px 5px rgba(0.5, 0.5, 0.5, 0.5);
}

p{
    text-align: center;
}

@media (max-width: 700px) {
    body {
        min-width: 350px;
        width: auto !important;
    }
    .header {
        font-size: 2em;
        padding: 0;
    }
    .line {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .cell {
        height: 7px;
        width: 7px;
    }
}